# Ignore sensitive config
.env

# Ignore virtual environment
.venv/

# Ignore vscode configurations
.vscode/

# Ignore local project documentation
docs/

# Ignore scripts
scripts/

# data backups
*.pkl

# pycache
__pycache__/